/* BASE STYLES ====================== */
/* 31,168,206 */
/* 49,140,231 */
/* 239,82,133 */
/* 255,90,95 */
/* 96,197,186 */
/* 254,238,125 */
/* 157,170,175 */
/* 134,150,156 */
/*----------------------------------------------------------------------------- 
1. SECTIONS
-----------------------------------------------------------------------------*/
/* line 21, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
.hero-en {
  background: url("china-street.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* line 27, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
.hero-en .section-content {
  max-width: 800px;
}
/* line 31, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
.hero-en h1, .hero-en h3 {
  color: white;
}

/* line 36, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
#cta-holder-en {
  max-width: 600px;
  background: rgba(0, 0, 0, 0.3);
  margin: 30px 0;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}
/* line 44, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
#cta-holder-en h2 {
  margin-top: 0px;
  color: #ff5a5f;
}
/* line 49, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
#cta-holder-en h5 {
  color: #ff5a5f;
}
/* line 53, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
#cta-holder-en p {
  color: white;
}
/* line 57, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
#cta-holder-en .btn-default {
  color: white;
  background-color: #ff5a5f;
}

/* line 64, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/en.scss */
.rounded-box-en {
  max-width: 700px;
  border-radius: 50px;
  margin: 20px auto;
}
