/* 31,168,206 */
/* 49,140,231 */
/* Pre-logo edit colours
$blue: #a5dff9;
$green: #60c5ba;
$yellow: #feee7d;
*/
/* Post-logo edit colours
$blue-logo: #85ADDD;
$green: #67D5B5;
$yellow: #FCEA00;
$purple: #C89EC4;
*/
/* line 30, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
body {
  text-align: center;
}

/* line 34, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
h1 {
  font-size: 52px;
  color: black;
}

/* line 39, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
h2 {
  font-size: 36px;
  color: #2e3436;
  line-height: 1.2;
}

/* line 45, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
h3 {
  font-size: 18px;
  color: black;
  line-height: 1.5;
}

/* line 51, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
h4 {
  font-size: 18px;
  color: #70797c;
  line-height: 1.2;
}

/* line 57, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
h5 {
  font-size: 14px;
  color: #86969c;
  text-transform: uppercase;
}

/* line 63, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
h6 {
  font-size: 10px;
  color: #86969c;
}

/* line 68, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
p {
  font-size: 14px;
  line-height: 1.5;
  color: #86969c;
  text-decoration: none;
}

/* line 75, /Users/Ryan/Documents/Webdev/translation/app/assets/stylesheets/pages.css.scss */
a {
  color: #86969c;
  text-decoration: none;
}
