<div class="section email-capture">
	<div class="section-content">

		<h1>FREE CONSULTATION</h1>

		<div class="email-capture-text-box">
			<p style="margin-bottom:5%;">Leave us your WeChat ID or email address and we’ll follow up with you pronto. We’ll give you our honest opinion on your website and branded materials from the perspective of a foreigner, and tips on what we think needs improving. Completely free - no risk, no obligation.</p>

		    <div class="input-group input-group-lg">
		      <input type="text" class="form-control" placeholder="Enter your email or WeChat ID" style="font-size:14px;">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" href="#">Get my free consultation!</button>
		      </span>
		    </div><!-- /input-group -->

		</div>
	</div>
</div>