<div class="section features">
  <div class="section-background-overlay">

  	<div class="section-content">

  		<div class="section-heading">
  			<h5>Features of our work</h5>
  			<h2>Why people trust us</h2>
  		</div>

          <div class="row">
            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Stand out</h3>
                </div>
                <div class="list-text">
                  <p>With English that is easy-to-understand, friendly and modern, you'll be communicating with your foreign customers just like the most successful overseas brands do. You'll be the stand out choice to a foreign customer among your Chinese competitors.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Tailored to you</h3>
                </div>
                <div class="list-text">
                  <p>Every business is different. We take time to understand your product and branding to ensure we get the right message across to the customers you want to attract.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>High quality</h3>
                </div>
                <div class="list-text">
                  <p>Some clients come to us after using a local translation firm then realising the English was of poor quality. With us you'll never have to pay twice! We'd even be happy to connect you with independent native English speakers for their honest feedback on our work, so you know for sure you've got quality.</p>
                </div>
              </div>
            </div>
          </div><!-- list -->
  	</div><!-- section-content -->
   </div> 
</div>


