<div class="section features">
  <div class="section-background-overlay">

  	<div class="section-content">

  		<div class="section-heading">
  			<h5>Features of our work</h5>
  			<h2>Why people trust us</h2>
  		</div>

          <div class="row">
            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Stand out</h3>
                </div>
                <div class="list-text">
                  <p>Friendly, easy-to-understand, trustworthy. Written in a style to fit your brand positioning. In a style used by the biggest companies in the West that foreign customers expect/that appeals to foreigners.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Tailored to you</h3>
                </div>
                <div class="list-text">
                  <p>We work with you to ensure that you get the right message across to the customers you want to attract. Every business is different so we work with you to give solutions tailored to your business and brand.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>High quality</h3>
                </div>
                <div class="list-text">
                  <p>Some clients come to us after using a local translation firm and realising the English was of poor quality. They end up paying twice! With us you can trust that the quality is high. We can even put you in touch with independent native English speakers to give you their honest feedback on our work, so you know for sure we have done a good job.</p>
                </div>
              </div>
            </div>
          </div><!-- list -->
  	</div><!-- section-content -->
   </div> 
</div>


