<div class="section features">
  <div class="section-background-overlay">

  	<div class="section-content">

  		<div class="section-heading">
  			<h2>为什么选择我们的服务</h2>
  		</div>

          <div class="row">
            <div class="list-item col-sm-4 hvr-grow">
              <div class="list-image-wrapper">
                <%= image_tag "icon-1.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>专业团队</h3>
                </div>
                <div class="list-text">
                  <p>我们的顾问拥有多个产业市场、销售、客户管理方面的从业经验。他们除了双语流利之外，更熟悉海外一流品牌的沟通。准确、地道且专业的英文表达将帮助您成为海外客户在中国的不二选择。</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4 hvr-grow">
              <div class="list-image-wrapper">
                <%= image_tag "icon-2.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>定制化服务</h3>
                </div>
                <div class="list-text">
                  <p>我们将花时间了解您企业品牌的独特之处，帮助您用最有效的文字吸引您品牌的目标客户群体。</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4 hvr-grow">
              <div class="list-image-wrapper">
                <%= image_tag "icon-3.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>一次到位</h3>
                </div>
                <div class="list-text">
                  <p>许多付费翻译服务没有质量保证，导致客户需要寻求第二次翻译服务来弥补漏洞。我们能够高质量完成翻译服务，帮您节省在品牌文案上的不必要开销。</p>
                </div>
              </div>
            </div>
          </div><!-- list -->
  	</div><!-- section-content -->
   </div> 
</div>


