<footer>
	<div class="section footer">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "logo-white.png", class: "brand-logo" %>
			</div>	
			<div class="col-sm-7">
			</div>
			<div class="col-sm-2">
				<div class="footer-links">		
					<ul>
						<li><a href="pages/trans"><p>Translation</p></a></li>
						<li><a href="pages/about"><p>About</p></a></li>
						<li><a href="pages/contact"><p>Contact</p></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright-bar">
		<p>2016. XYZ Media.</p>
	</div>

</footer>