<footer>
	<div class="section footer">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "dengpao-logo-full-transparent.png", class: "brand-logo" %>
			</div>	
			<div class="col-sm-7">
			</div>
			<div class="col-sm-2">
				<div class="footer-links">		
					<ul>
						<li><a href="pages/trans"><p>翻译服务</p></a></li>
						<li><a href="pages/about"><p>关于我们</p></a></li>
						<li><a href="pages/contact"><p>联系我们</p></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright-bar">
		<p>2016 All rights reserved. Dengpao Media Ltd. 灯泡媒体</p>
		<p style="color:white;opacity:0.4;">Icons made by <a href="http://www.flaticon.com/authors/freepik" target="_blank;">Freepik</a> and <a href="http://www.flaticon.com/authors/vectors-market" target="_blank;">Vector's Market</a> from www.flaticon.com</p>
	</div>

</footer>