<footer>
	<div class="section footer">
		<div class="row">
			<a class="col-sm-3 hvr-grow" href="/">
				<%= image_tag "logo/logo-ye.png", class: "brand-logo" %>
			</a>	
			<div class="col-sm-7">
			</div>
			<div class="col-sm-2">
				<div class="footer-links">		
					<ul>
						<li><a href="pages/about">我们是谁？</a></li>
						<li><a href="pages/contact">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="social-media-icons">
			<a href="http://www.facebook.com/dengpao" target="_blank"><%= image_tag "icons/facebook.png", class: "social-icon hvr-grow" %></a>
			<a href="https://www.linkedin.com/company-beta/13385989/" target="_blank"><%= image_tag "icons/linkedin.png", class: "social-icon hvr-grow" %></a>		
		</div>
	</div>

<%= render 'copyright' %>

</footer>