<footer>
	<div class="section footer">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "logo/logo-1.png", class: "brand-logo" %>
			</div>	
			<div class="col-sm-7">
			</div>
			<div class="col-sm-2">
				<div class="footer-links">		
					<ul>
						<li><a href="pages/trans"><p>翻译服务</p></a></li>
						<li><a href="pages/about"><p>关于我们</p></a></li>
						<li><a href="pages/contact"><p>联系我们</p></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<%= render 'copyright' %>

</footer>