<div class="section hero">
	<div class="hero-overlay">

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand" href="/">
				<%= image_tag "logo/logo-1.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="pages/trans">翻译服务</a></li>
		        <li><a href="pages/about">关于我们</a></li>
		        <li><a href="pages/contact">联系我们</a></li>      
				<li><a href="/en/home"><%= image_tag "flag-eng.png", class: "flag", alt: "English" %></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="section-content">

				<div class="hero-headline">
					<!-- Headline -->
					<h1>用更专业的英语 吸引更多海外客户</h1>
					<!-- Sub-Headline -->
					<h3>我们将用地道、专业的英文翻译帮您获得更多外国客户的青睐。</h3>
				</div>

				<!-- Call-to-Action -->
				<div id="cta-holder">
					<h2>免费咨询</h2>
					<p>外国人会怎么评价您的网站和品牌文案？关注我们的微信公众号，我们的团队会在24小时内给您反馈。</p>
					
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
					  现在就免费咨询！
					</button>

					<!-- Modal -->
					<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
					  <div class="modal-dialog modal-sm" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">扫一扫，关注我们的微信公众号！</h4>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">好了</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
	</div>
</div>