<div class="section industries">
	<div class="section-content">

		<div class="section-heading">
			<h2>服务领域</h2>
		</div>

		<div class="tile-grid-wrapper">
			<div class="tile-container tile-green">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>旅游</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>了解外国游客的旅游习惯和偏爱的旅游方式。</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-red">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>教育</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>了解留学生的申请习惯和偏爱的课程设置。</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-blue">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>互联网科技创业公司</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>为您的应用程序赢得更多外国用户、提高公司估值、吸引更多投资。</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-yellow">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>零售</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>漏洞百出的英文让人对您的第一印象大减。用更专业、准确的英文表达来提升您的品牌形象。</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-green">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>餐饮娱乐</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>让更多外国人看懂您的菜单！</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-red">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Film & video</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Film xyz</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-blue">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>体育</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>用专业、准确的英文表达来提升您的品牌形象，吸引更好的运动员和更多的追随者。</p></span>
					</div>
				</div>
			</div>	

			<div class="tile-container tile-yellow">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>国际贸易与制造</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>T与您竞争的企业太多了。用更专业、准确的英文包装您的商品，留住更多外国客户。</p></span>
					</div>
				</div>
			</div>			

			<div class="tile-container tile-green">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>银行金融</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>要让客户放心把钱交给您管理，您需要维持可信的品牌形象。准确、专业的英文表达是关键。</p></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>
