<div class="section industries">
	<div class="section-content">

		<div class="section-heading">
			<h5>Who we work with</h5>
			<h2>Whatever your industry, we're here to help</h2>
		</div>

		<div class="tile-grid-wrapper">
			<div class="tile-container tile-tourism">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Tourism</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Tell tourists about the awesome experience they're going to have with you, not just a list of places you're going to take them.</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-education">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Education</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Foreign students coming to China will naturally pick the university courses and language programs that clearly explain the course content and have an easy-to-follow application process.</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-tech">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Tech & startups</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Get those elusive foreign users for your app, grow your valuation and enhance your appeal to investors.</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-shopping">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Retail</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Foreigners are worried about being sold fake and low-quality products. A polished website with good English will show them you are legitimate and sell stuff worth buying.</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-food">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Food, beverage & entertainment</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Most foreigners much prefer dining in places where they can read the menus because they know what they're ordering! Just like you'd go to places with Chinese signs and menus when you're overseas.</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-fashion">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Fashion & beauty</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Fashion xyz</p></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-sports">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Sports</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>Sports clubs around the world are increasingly using branding to project an image of quality on the field, attracting more fans and better players.</p></span>
					</div>
				</div>
			</div>	

			<div class="tile-container tile-trade">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>International trade & manufacturing</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>There are so many competitors that say they offer quality and services like yours. Stand out from the others with the quality of your website, packaging and marketing materials.</p></span>
					</div>
				</div>
			</div>			

			<div class="tile-container tile-banking">
				<div class="tile-overlay tile-above">
					<div>
						<span><h3>Banking, finance & professional services</h3></span>
					</div>
				</div>

				<div class="tile-overlay tile-below">
					<div>
						<span><p>A professional image is key to people trusting you with their money and personal affairs.</p></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>
