<div class="section industries">
	<div class="section-content">

		<div class="section-heading">
			<h5>Who we work with</h5>
			<h2>Whatever your industry, we're here to help</h2>
		</div>

		<div class="tile-grid-wrapper">
			<div class="tile-container tile-tourism" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Tourists coming to China want to have a clear ideas of what you offer and where you take them.">
				<div class="tile-overlay">
					<div>
						<span><h3>Tourism</h3></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-education" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Foreign students coming to China to study Mandarin will pick university courses and language courses with the best websites.">
				<div class="tile-overlay">
					<div>
						<span><h3>Education</h3></span>
					</div>
				</div>
			</div>	
			<div class="tile-container tile-shopping" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Foreigners are worried about being sold fake and low-quality products. A polished website will show them you are legitimate and sell stuff worth buying.">
				<div class="tile-overlay">
					<div>
						<span><h3>Retail</h3></span>
					</div>
				</div>
			</div>
			<div class="tile-container tile-trade" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="There are so many competitors that say they offer quality and services like yours. But how is a foreigner to know? Stand out from the others with the quality of your website, packaging and marketing materials.">
				<div class="tile-overlay">
					<div>
						<span><h3>International trade & manufacturing</h3></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-sports" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Selling to sports fans?">
				<div class="tile-overlay">
					<div>
						<span><h3>Sports</h3></span>
					</div>
				</div>
			</div>	
			<div class="tile-container tile-food" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Foreigners like English menus...">
				<div class="tile-overlay">
					<div>
						<span><h3>Food, beverage & entertainment</h3></span>
					</div>
				</div>
			</div>
			<div class="tile-container tile-tech" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Appeal to investors, new users, get foreign users...">
				<div class="tile-overlay">
					<div>
						<span><h3>Tech & startups</h3></span>
					</div>
				</div>
			</div>

			<div class="tile-container tile-banking" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="Banking is complicated...">
				<div class="tile-overlay">
					<div>
						<span><h3>Banking, finance & professional services</h3></span>
					</div>
				</div>
			</div>	
			<div class="tile-container tile-fashion" type="button" role="button" tabindex="0" data-trigger="focus" animation="true" data-placement="bottom" data-toggle="popover" data-content="fashion xyz">
				<div class="tile-overlay">
					<div>
						<span><h3>Fashion & beauty</h3></span>
					</div>
				</div>
			</div>						
		</div>
	</div>
</div>

<div class="clear"></div>
