<div class="price-table">	
	<div class="row">
		<div class="col-xs-6 table-header table-column-left">
			<h3>翻译级别</h3>
		</div>
		<div class="col-xs-6 table-header table-column-right">
			<h3>元/千字</h3>
		</div>					
	</div>
	<div class="row">
		<div class="col-xs-6 table-column-left">
			<p>阅读级</p>
		</div>
		<div class="col-xs-6 table-column-right">
			<p>300</p>
		</div>					
	</div>
	<div class="row">
		<div class="col-xs-6 table-column-left">
			<p>交流级</p>
		</div>
		<div class="col-xs-6 table-column-right">
			<p>350</p>
		</div>					
	</div>
	<div class="row">
		<div class="col-xs-6 table-column-left">
			<p>工业级</p>
		</div>
		<div class="col-xs-6 table-column-right">
			<p>400</p>
		</div>					
	</div>
	<div class="row">
		<div class="col-xs-6 table-column-left">
			<p>出版级</p>
		</div>
		<div class="col-xs-6 table-column-right">
			<p>500</p>
		</div>					
	</div>
	<div class="row">
		<div class="col-xs-6 table-column-left">
			<p>法律级</p>
		</div>
		<div class="col-xs-6 table-column-right">
			<p>1,000</p>
		</div>					
	</div>
</div>