<div class="section services">

		<div class="section-heading">
			<h5>Services</h5>
			<h2>What we can do for you</h2>
		</div>

	<div class="section-content">



		<div class="row rounded-box panel-1">	
			<div class="col-sm-3 title-panel">
				<h2>Marketing & Branding</h2>
			</div>
			<div class="col-sm-9 content-panel">
				<ul>
					<li><p>Strategy</p></li>
					<li><p>Brand positioning</p></li>
					<li><p>Brand and product naming</p></li>
					<li><p>Advertisements - online, TV, print</p></li>					
				</ul>
			</div>
		</div>

		<div class="row rounded-box panel-2">	
			<div class="col-sm-3 title-panel">
				<h2>Online & Digital Communications</h2>
			</div>
			<div class="col-sm-9 content-panel">
				<ul>
					<li><p>Website content & design</p></li>
					<li><p>App content & design</p></li>
					<li><p>Blog posts</p></li>
					<li><p>Video subtitles</p></li>
					<li><p>Social media captions</p></li>
					<li><p>WeChat posts and engagement</p></li>
					<li><p>LinkedIn profiles</p></li>
					<li><p>Listings and blurbs on foreigner sites like SmartShanghai</p></li>
				</ul>
			</div>
		</div>

		<div class="row rounded-box panel-3">	
			<div class="col-sm-3 title-panel">
				<h2>Physical print</h2>
			</div>
			<div class="col-sm-9 content-panel">
				<ul>
					<li><p>Product packaging</p></li>
					<li><p>Menus</p></li>
					<li><p>Business cards</p></li>
					<li><p>Shop signs</p></li>
					<li><p>Trade shows and events </p></li>
					<li><p>Promotional flyers</p></li>
					<li><p>Product manuals and guides</p></li>
				</ul>
			</div>
		</div>		

	</div>
</div>