<div class="section services">

		<div class="section-heading">
			<h5>服务类型</h5>
			<h2>我们能为你提供哪些帮助</h2>
		</div>

	<div class="section-content">



		<div class="row rounded-box panel-1">	
			<div class="col-sm-3 title-panel">
				<h2>市场和品牌</h2>
			</div>
			<div class="col-sm-9 content-panel">
				<ul>
					<li><p>市场策略</p></li>
					<li><p>品牌定位</p></li>
					<li><p>品牌翻译、命名</p></li>
					<li><p>广告内容</p></li>					
				</ul>
			</div>
		</div>

		<div class="row rounded-box panel-2">	
			<div class="col-sm-3 title-panel">
				<h2>Online & Digital Communications</h2>
			</div>
			<div class="col-sm-9 content-panel">
				<ul>
					<li><p>网站内容</p></li>
					<li><p>APP内容</p></li>
					<li><p>博客</p></li>
					<li><p>视频字幕</p></li>
					<li><p>社交媒体发文及配图文字</p></li>
					<li><p>微信平台文章及互动</p></li>
					<li><p>领英公司和个人主页</p></li>
					<li><p>网络广告</p></li>
				</ul>
			</div>
		</div>

		<div class="row rounded-box panel-3">	
			<div class="col-sm-3 title-panel">
				<h2>实体印刷品</h2>
			</div>
			<div class="col-sm-9 content-panel">
				<ul>
					<li><p>产品包装</p></li>
					<li><p>菜单</p></li>
					<li><p>名片</p></li>
					<li><p>商铺招聘</p></li>
					<li><p>交会和活动材料</p></li>
					<li><p>宣传册</p></li>
					<li><p>使用说明和用户手册</p></li>
				</ul>
			</div>
		</div>		

	</div>
</div>