<div class="section services">

		<div class="section-heading">
			<h5>服务类型</h5>
			<h2>我们能为您提供以下本地化及文案翻译服务</h2>
		</div>

	<div class="section-content">

		<div class="row rounded-box panel-2 hvr-bob">	
			<div class="col-sm-4 title-panel">
				<h2>市场和品牌定位</h2>
			</div>
			<div class="col-sm-8 content-panel">
				<ul>
					<li><p>•  市场策略</p></li>
					<li><p>•  品牌定位</p></li>
					<li><p>•  品牌命名</p></li>
					<li><p>•  广告内容</p></li>	
					<li><p>•  招商引资企划书</p></li>		
				</ul>
			</div>
		</div>

		<div class="row rounded-box panel-1 hvr-bob">	
			<div class="col-sm-4 title-panel">
				<h2>网络与数字媒体</h2>
			</div>
			<div class="col-sm-8 content-panel">
				<ul>
					<li><p>•  网页文案与设计</p></li>
					<li><p>•  应用程序文案与设计</p></li>
					<li><p>•  博客文章</p></li>
					<li><p>•  视频字幕和剧本</p></li>
					<li><p>•  社交媒体文案与配图文字</p></li>
					<li><p>•  微信平台文案</p></li>
					<li><p>•  领英公司和个人主页</p></li>
					<li><p>•  网络招贴启示</p></li>
				</ul>
			</div>
		</div>	

		<div class="row rounded-box panel-3 hvr-bob">	
			<div class="col-sm-4 title-panel">
				<h2>实体印刷品</h2>
			</div>
			<div class="col-sm-8 content-panel">
				<ul>
					<li><p>•  产品包装</p></li>
					<li><p>•  菜单</p></li>
					<li><p>•  名片</p></li>
					<li><p>•  商铺招牌</p></li>
					<li><p>•  展览和活动材料</p></li>
					<li><p>•  宣传册</p></li>
					<li><p>•  使用说明和用户手册</p></li>
				</ul>
			</div>
		</div>		

	</div>
</div>