<div class="section why">
	<div class="section-content">

		<div class="section-heading">
			<h5>准确、专业的英语文案</h2>
			<h2>对你的品牌有多重要？</h2>
		</div>


		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "profile-2.png", class: "person-pic" %>
						<div class="person-text">
							<h6>Alex</h6>
							<p>美国人 现居上海 喜欢网上购物</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<h4>"我接触到的中国公司网站或是APP，不是根本没有英语信息，就是有的我也看不懂。这要我怎么相信他们的产品会靠谱！"</h4>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2">
				</div>				
				<div class="col-md-8 col-xs-8 quote-right">
					<h4>"大部分中国公司用的英语文案看起来像是直接从百度翻译复制的，或者是找低水准的翻译公司随便做的。因为这样，那些能提供专业、地道英文信息的公司总是让我特别印象深刻。如果一个公司在自己的文案翻译上都表现得满不在乎，我自然会认为他们的产品和服务水准也高不到哪儿去。"</h4>
				</div>
				<div class="col-md-2 col-xs-4">
			        <%= image_tag "profile-4.png", class: "person-pic" %>
					<div class="person-text">
						<h6>Sarah</h6>
						<p>澳大利亚人 现居深圳 房地产中介</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "profile-3.png", class: "person-pic" %>
						<div class="person-text">
							<h6>John</h6>
							<p>英国人 现居北京</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<h4>"就像国外企业起中文名的时候需要问中国本地人的意见，中国企业要起英文名时当然也该去咨询英语为母语的人。中国公司花这么多钱做网站、品牌宣传、商店招牌和菜单，却不能保证上面的英文是准确的，这让我觉得不可思议!"</h4>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

	</div>
</div>