<div class="section why">
	<div class="section-content">

		<div class="section-heading">
			<h5>Good English in your marketing</h2>
			<h2>Why does it matter?</h2>
		</div>


		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "mike.png", class: "person-pic" %>
						<div class="person-text">
							<h6>John</h6>
							<p>American living in Shanghai, likes buying stuff</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<h4>"Most Chinese brands don’t have an English website. I can’t read Chinese so how am I supposed to buy from them?!"</h4>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2">
				</div>				
				<div class="col-md-8 col-xs-8 quote-right">
					<h4>"I rarely see a well-written English website in China. If their English is bad how am I supposed to trust that their product is good? Or even be sure of what their product is?!"</h4>
				</div>
				<div class="col-md-2 col-xs-4">
			        <%= image_tag "mike.png", class: "person-pic" %>
					<div class="person-text">
						<h6>Alice</h6>
						<p>British living in Beijing</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "mike.png", class: "person-pic" %>
						<div class="person-text">
							<h6>Sarah</h6>
							<p>Australian living in Shanghai, real estate agent</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<h4>"When I stumble across good English in China I know this company must be legit that I can trust. I will pick them over their competitors every time!"</h4>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>		

	</div>
</div>