<div class="section why">
	<div class="section-content">

		<div class="section-heading">
			<h5>地道、专业的英文营销内容</h2>
			<h2>对您的品牌有多重要？</h2>
		</div>


		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "profile-2.png", class: "person-pic" %>
						<div class="person-text">
							<h6>Alex</h6>
							<p>美国人 现居上海 喜欢网购</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<h4>"我接触到的中国公司网站或是APP，大部分根本没有英语信息，就是有的我也看不懂。这要我怎么相信他们的产品会靠谱?!"</h4>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2">
				</div>				
				<div class="col-md-8 col-xs-8 quote-right">
					<h4>"大部分中国公司用的英语文案看起来像是直接从百度翻译复制的，或者是找低水准的翻译公司随便做的。这样一来那些英语好的品牌总能让我印象深刻。如果一个公司在自己的文案翻译上都满不在乎，我想他们的产品和服务水准也不会好到哪儿去。"</h4>
				</div>
				<div class="col-md-2 col-xs-4">
			        <%= image_tag "profile-4.png", class: "person-pic" %>
					<div class="person-text">
						<h6>Sarah</h6>
						<p>澳大利亚人 现居深圳 房地产中介</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "profile-3.png", class: "person-pic" %>
						<div class="person-text">
							<h6>John</h6>
							<p>英国人 现居北京</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<h4>"正如国外企业起中文名的时候需要咨询中国本地人，中国企业要起英文名时当然也该去问问英语为母语的人。中国公司花不少钱做网站、品牌宣传、商店招牌和菜单，却不能保证上面的英文是准确的，简直不可思议!"</h4>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

	</div>
</div>