<div class="page page-contact">
	
	<div class="page-header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand hvr-grow" href="/">
				<%= image_tag "logo/logo-icon-wh.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a class="hvr-bob" href="about">关于我们</a></li>
		        <li class="navbar-active-tab"><a class="hvr-bob" href="contact">联系我们</a></li>
				<li><a class="hvr-bob" href="../en/home"><%= image_tag "flag-eng.png", class: "flag", alt: "English" %></a></li>		        
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="page-title">
			<h2>联系我们</h2>
		</div>
	</div>

	<div class="page-wrapper">
		<div class="page-content">
			<div class="page-sub-content narrow">
				<p>想获得一次免费咨询机会？通过微信或邮件联系我们吧！</p>
				<h3>WeChat: abcdefg<br>
				Email: hello@abdc.com</h3>
			</div>

			<hr>

			<div class="page-sub-content narrow">
				<p>英国米尔顿凯恩斯市</p>
			</div>
		</div>
	</div>

	<footer>
		<%= render 'copyright' %>
	</footer>
</div>