<div class="page page-contact">
	
	<div class="page-header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand hvr-grow" href="/">
				<%= image_tag "logo/logo-bulb-ye.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/pages/about/">我们是谁？</a></li>
		        <li class="navbar-active-tab"><a href="/pages/contact/">联系我们</a></li>
				<li><a class="hvr-bob" href="/en/contact"><%= image_tag "flag-eng.png", class: "flag", alt: "English" %></a></li>       
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="page-title">
			<h1>联系我们</h1>
		</div>
	</div>

	<div class="page-wrapper">
		<div class="page-content">
			<div class="page-sub-content narrow">
				<h3>想获得一次免费咨询机会？通过微信或邮件联系我们吧！</h3>
				<h3>
					<%= image_tag "qr.jpg" %>
				</h3>
				<h3>邮箱：<strong>hello@dengpao.co</strong></h3>
			</div>

			<hr>

			<div class="page-sub-content narrow">
			</div>
		</div>
	</div>

	<footer>
		<%= render 'copyright' %>
	</footer>
</div>