<div class="page page-trans">

	<div class="page-header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand" href="/">
				<%= image_tag "dengpao-logo-full-transparent.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="navbar-active-tab"><a href="trans">翻译服务</a></li>
		        <li><a href="about">关于我们</a></li>
		        <li><a href="contact">联系我们</a></li>        
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="page-title">
			<h2>文件翻译</h2>
		</div>
	</div>

	<div class="page-wrapper">

		<div class="page-content">

			<div class="page-sub-content">
				<p>品牌信息优化和翻译服务之外，我们还提供优质的文件翻译服务。我们的团队曾帮助不同类型的企业、机构翻译过以下形式文件：</p>
			</div>

			<div class="page-sub-content">
				<div class="row">
					<div class="col-sm-4">
						<h6>学术论文</h6>
					</div>

					<div class="col-sm-4">
						<h6>剧本</h6>
					</div>
					<div class="col-sm-4">
						<h6>合同</h6>
					</div>
				</div>

				<div class="row">

					<div class="col-sm-4">
						<h6>内部文档</h6>
					</div>
					<div class="col-sm-4">
						<h6>产业报告</h6>
					</div>
					<div class="col-sm-4">
						<h6>报刊书籍</h6>
					</div>
				</div>
			</div>

		</div>
	</div>

	<%= render 'footer' %>
</div>