<div class="page page-trans">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		    </button>    	
			<a class="navbar-brand" href="/">
			<%= image_tag "logo-colour.png" %>
			</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="navbar-active-tab"><a href="trans">翻译服务</a></li>
	        <li><a href="about">关于我们</a></li>
	        <li><a href="contact">联系我们</a></li>        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="page-wrapper">

		<div class="page-heading">
			<h1>Document translation</h1>
		</div>

		<div class="page-content">

			<div class="page-sub-content">
				<p>In addition to helping you with anything consumer-facing, we also offer regular document translation services according to your needs. We specialise in translating between Chinese and English but also have the capacity to translate documents to and from Korean, Japanese, Spanish and French.</p>
			</div>

			<div class="page-sub-content">
				<p>We have extensive experience translating a wide range of documents for large and small corporations and institutions alike, including:</p>
			</div>

			<div class="page-sub-content">
				<h6>Scientific papers</h6>
				<h6>Contracts</h6>
				<h6>Operational guides</h6>
				<h6>Industry reports</h6>
				<h6>Books and novels</h6>
			</div>

			<div class="page-sub-content">
				<h2>Pricing</h2>
				<p>Our translation services for the documents are priced based on number of Chinese characters to translate. Our prices are slightly higher than some of our competitors, however you will receive a higher quality translation as a result.
				</p>

				<div class="price-table">	
					<div class="row">
						<div class="col-xs-6 table-header table-column-left">
							<h3>翻译级别</h3>
						</div>
						<div class="col-xs-6 table-header table-column-right">
							<h3>元/千字</h3>
						</div>					
					</div>
					<div class="row">
						<div class="col-xs-6 table-column-left">
							<p>阅读级</p>
						</div>
						<div class="col-xs-6 table-column-right">
							<p>140</p>
						</div>					
					</div>
					<div class="row">
						<div class="col-xs-6 table-column-left">
							<p>交流级</p>
						</div>
						<div class="col-xs-6 table-column-right">
							<p>170</p>
						</div>					
					</div>
					<div class="row">
						<div class="col-xs-6 table-column-left">
							<p>工业级</p>
						</div>
						<div class="col-xs-6 table-column-right">
							<p>210</p>
						</div>					
					</div>
					<div class="row">
						<div class="col-xs-6 table-column-left">
							<p>出版级</p>
						</div>
						<div class="col-xs-6 table-column-right">
							<p>310</p>
						</div>					
					</div>
					<div class="row">
						<div class="col-xs-6 table-column-left">
							<p>法律级</p>
						</div>
						<div class="col-xs-6 table-column-right">
							<p>420</p>
						</div>					
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

	<%= render 'footer' %>