@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,700|Source+Sans+Pro:300|Lato:300);
@import url(http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js);

/* BASE STYLES ====================== */

$font-family-sans-serif: 'Poppins', Helvetica, sans-serif;
$gutter: 30px;

$blue: #1fa8ce; /* 31,168,206 */
$blue2: #318ce7; /* 49,140,231 */
$blue-logo: #85ADDD; /* 133,173,221 */
$pink: #e5007e; /* 229,0,126 */
$red: #FF5A5F; /* 255,90,95 */
$green: #67D5B5; /* 103,213,181 */
$yellow: #FCEA00; /* 254,238,125 */
$l-grey: #9daaaf; /* 157,170,175 */
$grey: #86969c; /* 134,150,156 */
$purple: #C89EC4;
$orange: #ff5f2e;
$text: #2e3436;
$green-shadow: #468e78;

/*----------------------------------------------------------------------------- 
1. SECTIONS
-----------------------------------------------------------------------------*/

.pagecontainer {
}

.section {

	.navbar {

		.navbar-header {
			padding: $gutter/2 $gutter;
		}

		.navbar-collapse {
			padding: $gutter/2 $gutter $gutter/3 $gutter;
			margin: 0;

			a {		
			}

		.navbar-nav > li > a {
			color: white;
			font-weight: 700;
			font-size: 16px;

			transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			-moz-transition: color 0.2s linear;
			-webkit-transition: color 0.2s linear;		
			&:hover, &:focus {
				color: $pink;
			}
		}	

		}
	
		.navbar-toggle {
			border-color: white;

			  @media (min-width: 768px) {
			    display: none;	  
			  }

			.icon-bar {
				background-color: white;
			}			  
		}

		.navbar-toggle:hover, .navbar-toggle:focus {
		  background-color: transparent;
		}

		.navbar-brand {
			height: auto;
			color: white;
			padding: 0;
			margin: 0;

			img {
				max-width: 180px;
				max-height: 50px;

				@media (max-width: 320px) {
					max-width: 120px;
				}

			}			
		}		

	}

	.navbar-default {
		background-color: rgba(0,0,0,0);
		border-radius: 0;
		border: none;
	}		

	.flag {
		width: 18px;
		height: 12px;
	}

}

.section-background-overlay {
	background-color: rgba(0,0,0,0.15)
}

.section-content {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
	padding: $gutter*2 $gutter;
	text-align: center;
}

.section-heading {
	max-width: 750px;
	margin: 0 auto $gutter*2 auto;
	h2 {
		font-weight: 700;
	}
}	

.hero {
	background: image-url("guy-yellow.jpg");
	background-size: cover;
	background-position: 0 75%;
	background-attachment: fixed;

	@media (max-width: 600px) {
		background-position: center;
	}

	@media (max-width: 480px) {
		background-attachment: inherit;
		background-position: 55% 25%;
	}

	.section-content {
		max-width: 800px;

		@media (max-width: 480px) {
			padding-top: $gutter/2;
		}

	}

	h1 {
		color: white;
		@media (max-width: 480px) {
			font-size: 42px;
			text-align: center;
		}
	}

	h2 {
		color: white;
		font-size: 28px;
		@media (max-width: 480px) {
			text-align: center;
		}		
	}

}

.hero-overlay {
	background-color: rgba(0,0,0,0.11)
}

.hero-headline {
	text-align: left;
}

#cta-holder {
	max-width: 455px;
	background: rgba(103,213,181,1);
	margin: $gutter 0;
	padding: $gutter;
	border-radius: 20px;

	-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
	moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);	

	h2 {
		text-align: left;
		margin-top: 0px;
		color: white;
		font-weight: 700;
	}

	p {
		font-size: 18px;
		text-align: left;
		color: white;
	}

	.btn-primary {
		color: white;
		background-color: $pink;
		border: none;
		padding: 20px;
		font-size: 18px;
		font-weight: 700;
		border-radius: 10px;
		margin-top: 7px;

		-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
		moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
		box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);				

		transition: background 0.2s linear;
		-o-transition: background 0.2s linear;
		-moz-transition: background 0.2s linear;
		-webkit-transition: background 0.2s linear;	
		&:hover, &:focus {
			background-color: $blue2;
		}
	}

	@media (max-width: 480px) {
		text-align: center;
	}
}

.why {

	.quote {
		margin: 10px 0;

		@media (max-width: 480px) {
			margin: 25px 0;
		}		

		h4 {
			font-size: 18px;
			color: white;

			@media (max-width: 480px) {
				font-size: 14px;
			}
		}
	}

	.person-container {

	}


	.person-pic {
		max-width: 90px;
		border-radius: 50%;
		@media (max-width: 480px) {
			max-width: 50px;
		}	
	}

	.person-text {
		width: 100%;

		h6 {
			font-weight: bold;
			margin-top: 8px;
			margin-bottom: 2px;
			text-transform: uppercase;
		}

		p {
			font-size: 10px;			
		}

	}

	.quote-left {
		background-color: $green;
		border-radius: 35px;
		border-top-left-radius: 0;
		padding: 15px 25px;

		transition: background 0.2s linear;
		-o-transition: background 0.2s linear;
		-moz-transition: background 0.2s linear;
		-webkit-transition: background 0.2s linear;	

		&:hover, &:focus {
			background-color: $blue2;
		}

		@media (max-width: 480px) {
			padding: 10px 15px;
		}	
	}

	.quote-right {
		background-color: $green;
		border-radius: 35px;
		border-top-right-radius: 0;
		padding: 15px 25px;
		margin-bottom: 40px;

		transition: background 0.2s linear;
		-o-transition: background 0.2s linear;
		-moz-transition: background 0.2s linear;
		-webkit-transition: background 0.2s linear;	

		&:hover, &:focus {
			background-color: $blue2;
		}

		@media (max-width: 480px) {
			padding: 10px 15px;
			margin-bottom: 0;
		}	
	}

}


.partners {
	.section-content {
		padding-bottom: $gutter*2;
	}	

	.partner-logo {
			margin-top: 25px;
			margin-bottom: 20px;

		img {	
			max-width: 150px;
			max-height: 40px;
		}
	}

	.btn-default {
		border: none;
	}

	.btn-default:hover {
		background-color: transparent;
		border: none;
	}

	.tooltip.in {
		opacity: 1;
	}

	.tooltip-inner {
		background-color: $green;
	}

	.tooltip.top .tooltip-arrow {
		border-top-color: $green;
	}

}

.features {
	background: image-url("button-up.jpg");
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;

	@media (max-width: 480px) {
		background-attachment: initial;
	}

	.section-background-overlay {
		background-color: rgba(265,265,265,0.2)
	}


	h5, p {
		color: #2e3436
	}

	h3 {
		color: $blue2;
		font-weight: 700;
		font-size: 24px;
	}

	.row {
		padding-right: $gutter/2;
		padding-left: $gutter/2;

		.list-item {
			text-align: center;
			padding: 0 $gutter/2;
		}

		.list-image-wrapper {
			max-width: 80px;
			max-height: 80px;
			margin: 0 auto;
			img {
				max-width: 80px;
				max-height: 80px;
			}
		}

		.list-text-wrapper {
			text-align: center;

			.list-text {
				text-align: justify;
				padding: $gutter/2 $gutter;
			}
		}	
	}
}

.services {
	background: image-url("cup.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;

	@media (max-width: 480px) {
		background-attachment: initial;
	}

	.section-content {
		padding-top: $gutter;		
	}

	.section-heading {
		max-width: 100%;
		padding: $gutter*2 $gutter;
		margin: 0 auto;
		background-color: rgba(0,0,0,0.3)
	}

	h2, h5, p {
		color: white;
	}

	.rounded-box {
		max-width: 500px;
		border-radius: 30px;
		margin: 20px auto;
	}

	.panel-1 {
		background-color: rgba(103,213,181,0.85);
	}

	.panel-2 {
		background-color: rgba(103,213,181,0.85);
	}

	.panel-3 {
		background-color: rgba(103,213,181,0.85);
	}

	.col-sm-4, .col-sm-8 {
		padding: $gutter;

		h2 {
			color: white;
			font-size: 30px;
		}
	}

	.col-sm-4 {
		text-align: left;

		@media only screen and (max-width : 768px) {
			text-align: center;
			padding-bottom: 0;
		}		

		@media only screen and (min-width : 768px) {
			padding-right: 0;
		}	
	}

	.col-sm-8 {
		text-align: left;
		padding-left: $gutter*1.5;
		padding-right: $gutter*1.5;

		@media only screen and (max-width : 768px) {
			text-align: center;
			ul {
				padding:0;
			}
		}	

	}

	h2, ul {
		margin: 0;
	}

	ul {
    	padding-left: 0;
	}

	li {
		list-style: none;
	}

	p {
		color: white;
		font-size: 16px;
	}


}

.sectors {

	background-color: white;
	
	h2, h5 {
	}

	h3 {
		color: $blue2;
		font-size: 22px;
		font-weight: 700;
	}

	p {
		color: #2e3436;
		margin: 0;
	}

	.section-content {
		max-width: 1000px;
		margin: 0 auto;
	}

	.row {
		text-align: center;

		.col-sm-6 {
			margin-bottom: $gutter;
		}


		h3 {
			max-width: 455px;
		}	
	}

	.sector-icon {
		max-height: 25px;
		min-width: 20px;
		margin-right: 10px;
	}

	.sector-text {
		padding: $gutter/2;
		background-color: #f6f6f6;
		border-radius: 10px;
		max-width: 455px;

		transition: background-color 0.2s linear;
		-o-transition: background-color 0.2s linear;
		-moz-transition: background-color 0.2s linear;
		-webkit-transition: background-color 0.2s linear;	
		&:hover {
			background-color: $blue2;		
			p {
				color: white;
			}
		}
	}


}


.email-capture {
	background: image-url("shoes.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: $gutter/2;

	@media (max-width: 480px) {
		background-attachment: initial;
	}

	.email-capture-text-box {
		background-color: rgba(103,213,181,1);
		max-width: 600px;
		padding: $gutter;
		margin: $gutter auto;
		border-radius: 15px;

		-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
		moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
		box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);			

		@media (max-width: 480px) {
			background-color: rgba(103,213,181,0.9);
		}

		.btn-primary {
			color: white;
			background-color: $blue2;
			border: none;
			padding: 20px;
			font-size: 18px;
			font-weight: 700;
			border-radius: 10px;
			margin-top: 7px;

			-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
			moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
			box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);					

			transition: background 0.2s linear;
			-o-transition: background 0.2s linear;
			-moz-transition: background 0.2s linear;
			-webkit-transition: background 0.2s linear;	
			&:hover, &:focus {
				background-color: $pink;
			}
		}
	}



	h1 {
		color: white;
	}

	p {
		color: white;
		font-size: 18px;
	}
}

footer {
	background-color: rgba(35,35,35,0.4);
	color: white;

	.footer {
		padding: $gutter;
	}

	.footer-links {

	}

	.copyright-bar {
		background-color: #616161;
		padding: $gutter/3;
		margin: 0;

		p {
			font-size: 10px;
			color: #888888;
			margin: 0;
		}

	}

	ul {
		padding: 0;
		text-align: left;
		list-style: none;

		@media only screen and (max-width : 768px) {
		      text-align: center;
		      padding-top: $gutter/2;
		}		

		li {
			margin: 5px 0;
		}

		li a {
			margin: 0;
			color: white;
			transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			-moz-transition: color 0.2s linear;
			-webkit-transition: color 0.2s linear;		
			&:hover, &:focus {
				color: $green;
			}
		}
	}


}

.brand-logo {
	max-width: 200px;
	max-height: 40px;
}

/*----------------------------------------------------------------------------- 
3. PAGES - BASE STYLES
-----------------------------------------------------------------------------*/

.page {


	.page-header {
		margin: 0;
	}

	.navbar {

		.navbar-header {
			padding: $gutter/2 $gutter;
		}

		.navbar-collapse {
			padding: $gutter/2 $gutter $gutter/3 $gutter;
			margin: 0;
		}

		.navbar-nav > li > a {
			color: white;
			font-size: 16px;
			font-weight: 700;
			transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			-moz-transition: color 0.2s linear;
			-webkit-transition: color 0.2s linear;		
			&:hover, &:focus {
				color: $pink;
			}
		}	
	
		.navbar-toggle {
			margin: $gutter/2 0 0 $gutter;
			border-color: white;

			  @media (min-width: 768px) {
			    display: none;	  
			  }

			.icon-bar {
				background-color: white;
			}			  
		}

		.navbar-toggle:hover, .navbar-toggle:focus {
		  background-color: transparent;
		}

		.navbar-brand {
			height: auto;
			color: white;
			padding: 0;
			margin: 0;

			img {
				max-width: 180px;
				max-height: 50px;
			}
		}		

		.navbar-nav > .navbar-active-tab {
			a {
				color: $pink;
				font-weight: 700;
			}
		}

	}

	.navbar-default {
		background-color: rgba(0,0,0,0);
		border-radius: 0;
		border: none;
	}		

	.flag {
		width: 18px;
		height: 12px;
	}



	.banner-image {
		width: 100%;
		max-height: 200px;
	}

	.page-wrapper {
		max-width: 900px;
		min-height: 500px;
		height: 100%;
		margin: 0 auto 0 auto;
		padding: $gutter $gutter $gutter*2 $gutter;
		text-align: center;
	}

	.page-title {
		max-width: 700px;
		margin: 0 auto $gutter*2 auto;
		h1, h2 {
			color: white;
		}
	}

	.page-content {

	}

	.page-sub-content {
		padding: $gutter 0;
	}

	p {
		color: black;
	}

	footer {
		.footer {
			padding: $gutter;
		}

		.footer-links {
			a, p {
				color: white;
			}
		}

		.copyright-bar {
			background-color: #555555;
			padding: $gutter/2;
			margin: 0;

			p {
				font-size: 10px;
				color: #888888;
				margin: 0;
			}

		}
	}


}


/* ====== PAGES ====== */

.page-about {
	.page-header {
		background: $green;
	}

}

.team-member {
	background-color: transparent;
	max-width: 350px;
	margin: 0 auto;
	padding: $gutter/2 0;
	border-radius: 50px;

	img {
		max-width: 100px;
		border-radius: 50px;
	}

	h2 {
		color: $blue2;
	}

	h3 {
		color: black;
	}

	h5 {
		color: $grey;
	}

	p {
		text-align: center;
		background-color: rgba(0,0,0,0.05);
		border-radius: 25px;
		padding: 20px;

		-webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
		moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
		box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);	

	}
}

.page-trans {

	.page-header {
		background: $green;		
	}

	h6 {
		color: $blue2;
		font-size: 24px;
		text-transform: uppercase;
		padding: $gutter/2 $gutter;;
	}

	.row {
		margin: 0;
	}

}

.price-table {
	margin: $gutter 0 0 0;
	padding: 0;

	.row {
		margin: 0 0 8px 0;
	}

	.col-xs-6 {
		padding: 0;
		background-color: rgba(0,0,0,0.05);
		border-radius: 15px;

		h3 {
			text-align: center;
			padding: 10px;
			color: white;
			margin: 0;
		}

		p {
			text-align: center;
			padding: 10px;

			margin: 0;
		}
	}

	.table-header {
		background-color: $red;

		p {
			color: white;
		}
	}

	.table-column-right {
		border-left: 4px solid white;
	}

	.table-column-left {
		border-right: 4px solid white;
	}

}

.page-contact {

	.page-header {
			background: $green;	
	}

	footer {
	}
}

/*----------------------------------------------------------------------------- 
4. OTHER  
-----------------------------------------------------------------------------*/

.clear {
	clear: both;
}

.align-right {
	float: right;
}

.align-left {
	float: left;
}

.divider {
	height: 1px;
	width: 45%;
	border-color: silver;
	margin: 0 auto;
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

@import 'bootstrap-sprockets';
@import 'bootstrap';




/* INDUSTRY TILES */

/* 
.industries {

	.section-content {
		max-width: 1000px;
		margin: 0 auto 0 auto;
	}

	.col-xs-6, .col-sm-4 {
	}

}

.tile-container {
	padding-bottom: 29.33%;
	width: 29.33%;
	position: relative;
	float: left;
	margin: 2%;
	border-radius: 10%;
}

.tile-below, .tile-container:hover>.tile-above {
    display: none;
}

.tile-container:hover>.tile-below {
    display: block;
}

.tile-grid-wrapper {
	overflow: hidden;
}

.tile-overlay {
	background-color: rgba(134,150,156,0);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	h3 {
		color: white;
		font-size: 22px;
		text-transform: uppercase;
	    padding: 5%;
	}

	p {
		color: white;
		font-size: 18px;
	    padding: 10%;
	}

	div {
		display: table;
		width: 100%;
		height: 100%;
	}

	span {
	    display: table-cell;
	    text-align: center;
	    vertical-align: middle;
	}
}

@media only screen and (max-width : 480px) {
    Smartphone view: 1 tile
   .tile-container {
      width: 100%;
      padding-bottom: 100%;
   }
}

@media only screen and (max-width : 768px) and (min-width : 481px) {
    Tablet view: 2 tiles 
   .tile-container {
      width: 46%;
      padding-bottom: 46%;
   }
}

	.tile-green {
		background-color: $green;
	}

	.tile-red {
		background-color: $red;
	}

	.tile-blue {
		background-color: $blue;
	}

	.tile-yellow {
		background-color: $l-grey;
	}

*/
