// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #1fa8ce; /* 31,168,206 */
$blue2: #318ce7; /* 49,140,231 */
$blue-logo: #85ADDD;
$pink: #ef5285;
$red: #FF5A5F;
$green: #67D5B5;
$yellow: #FCEA00;
$l-grey: #9daaaf;
$grey: #86969c;
$purple: #C89EC4;


/* Pre-logo edit colours
$blue: #a5dff9;
$green: #60c5ba;
$yellow: #feee7d;
*/

/* Post-logo edit colours
$blue-logo: #85ADDD;
$green: #67D5B5;
$yellow: #FCEA00;
$purple: #C89EC4;
*/

body {
	text-align: center;
}

h1 /* Landing headline */{
	font-family: 'Archivo Black', sans-serif;
	font-size: 48px;
	color: black;
}

h2 /* Section sub-heading */{
	font-family: 'Archivo Black', sans-serif;
	font-size: 32px;
	color: #2e3436;
	line-height: 1.2;
}

h3 /* Landing sub-headline */{
	font-size: 18px;
	color: black;
	line-height: 1.5;
}

h4 /* Benefit blurb */{
	font-size: 18px;
	color: #70797c;
	line-height: 1.2;
}

h5 /* Section title */{
	font-size: 14px;
	color: $grey;
	text-transform: uppercase;
}

h6 /* Testimonial names */{
	font-size: 10px;
	color: $grey;
}

p {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
	color: $grey;
	text-decoration: none;	
}

a {
	color: $grey;
	text-decoration: none;
	&:hover, &:active {
		text-decoration: none;
	}
}