<div class="copyright-bar">
	<p>2017 All rights reserved. Dengpao Media Ltd. 灯泡媒体</p>
	<p>Icons made by <a href="http://www.flaticon.com/authors/freepik" target="_blank;">Freepik</a> and <a href="http://www.flaticon.com/authors/vectors-market" target="_blank;">Vector's Market</a> from www.flaticon.com</p>
</div>