<div class="section email-capture">
	<div class="section-content">

		<h1>Free consultation</h1>

		<div class="email-capture-text-box">
			<p style="margin-bottom:5%;">Get your free consultation now!</p>

		    <div class="input-group input-group-lg">
		      <input type="text" class="form-control" placeholder="Enter your email address" style="font-size:14px;">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" href="#">现在就免费咨询！</button>
		      </span>
		    </div><!-- /input-group -->

		</div>
	</div>

	<%= render 'en_footer' %>

</div>