<div class="section why">
	<div class="section-content">

		<div class="section-heading">
			<h5>Marketing in Chinese</h2>
			<h2>Why does it matter?</h2>
		</div>


		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "no-1-grey.png", class: "person-pic" %>
						<div class="person-text">
							<h6>Stop being invisible in China</h6>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<p>China is the world's second biggest consumer market, and growing. Yet the typical Chinese consumer still searches using Mandarin and consumes Mandarin-only content. Your products, apps, merchandise and media content are missing out on a hugely lucrative user-base by only being written in English.</p>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2">
				</div>				
				<div class="col-md-8 col-xs-8 quote-right">
					<p>Marketing directly to Mandarin-speakers has traditionally been something only the biggest Western brands have done. The rest are yet to catch up, which means you likely have first mover advantage in your industry by acting now.</p>					
				</div>
				<div class="col-md-2 col-xs-4">
			        <%= image_tag "no-2-grey.png", class: "person-pic" %>
					<div class="person-text">
						<h6>First past the post</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "no-3-grey.png", class: "person-pic" %>
						<div class="person-text">
							<h6>Cater to Chinese visitors</h6>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<p>Travel is no longer a luxury reserved for China's internationally-educated elite. As the number of tourists visiting the UK from China’s smaller cities continues to rise, the number of those with minimal to no English skills can too be expected to increase. This means more and more visitors to the British Isles wanting to plan their trip and buy services using Mandarin-friendly websites.</p>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2">
				</div>				
				<div class="col-md-8 col-xs-8 quote-right">
					<p>Operating or planning to launch in China? Western brands often shoot themselves in the foot with names and slogans that immediately turn off Chinese buyers. You’ll want messaging that represents your brand while appreciating the cultural nuances of the Chinese market.</p>					
				</div>
				<div class="col-md-2 col-xs-4">
			        <%= image_tag "no-4-grey.png", class: "person-pic" %>
					<div class="person-text">
						<h6>Don't go in blind</h6>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>