<div class="section hero">
	<div class="hero-overlay">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand" href="/">
				<%= image_tag "dengpao-logo-full-transparent.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="trans">Translation</a></li>
		        <li><a href="about">About</a></li>
		        <li><a href="contact">Contact</a></li>      
				<li><a href="home"><%= image_tag "flag-china.jpg", class: "flag", alt: "中文" %></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

	<div class="section-content">


			<div class="hero-headline">
				<!-- Headline -->
				<h1>Tap into the Chinese market</h1>
				<!-- Sub-Headline -->
				<h3>We help brands position themselves to attract Chinese consumers</h3>
			</div>

			<!-- Call-to-Action -->
			<div id="cta-holder">
				<h2>Free assessment</h2>
				<p>Want a second opinion on the Chinese version of your website? We’ll personally review your content and branding and give you an honest assessment of how it comes across to Chinese consumers.</p>

				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
				  Get my free assessment
				</button>

				<!-- Modal -->
				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				  <div class="modal-dialog modal-sm" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Thanks for your interest. Email us at xyz@dengpao.co.uk with the following: xyz --- and we'll get back to you within 24 hours.</h4>
				      </div>
				      <div class="modal-body">
				        ...
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
				      </div>
				    </div>
				  </div>
				</div>

			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>