<footer>
	<div class="section footer">
		<div class="row">
			<a class="col-sm-3 hvr-grow" href="home/">
				<%= image_tag "logo/logo-1.png", class: "brand-logo" %>
			</a>
			<div class="col-sm-7">
			</div>
			<div class="col-sm-2">
				<div class="footer-links">		
					<ul>
						<li><a href="/en/about"><p>WHO ARE WE?</p></a></li>
						<li><a href="/en/contact"><p>CONTACT</p></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<%= render 'copyright' %>

</footer>