<div class="section features">
  <div class="section-background-overlay">

  	<div class="section-content">

  		<div class="section-heading">
  			<h2>Professional, native English communication with us</h2>
  		</div>

          <div class="row">
            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>专业团队</h3>
                </div>
                <div class="list-text">
                  <p>We understand the original English content better than those who don’t speak English fluently, so we ensure an accurate understanding of your ideas before translating into Chinese. Humor/style/charisma gets lost in translation when the translator doesn’t speak English at a native/professional level.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>定制化服务</h3>
                </div>
                <div class="list-text">
                  <p>You’ll be able to directly communicate with our marketing/translation staff, instead of just dropping a document to a website or a client-facing contact that doesn’t actually do the translation work. Prevents...</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "mike.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>一次到位</h3>
                </div>
                <div class="list-text">
                  <p>许多付费翻译服务没有质量保证，导致客户需要寻求第二次翻译服务来弥补漏洞。我们能够高质量完成翻译服务，帮您节省在品牌文案上的不必要开销。</p>
                </div>
              </div>
            </div>
          </div><!-- list -->
  	</div><!-- section-content -->
   </div> 
</div>


