<footer>
	<div class="section footer">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "dengpao-logo-full-transparent.png", class: "brand-logo" %>
			</div>	
			<div class="col-sm-7">
			</div>
			<div class="col-sm-2">
				<div class="footer-links">		
					<ul>
						<li><a href="pages/trans"><p>Translation</p></a></li>
						<li><a href="pages/about"><p>About Us</p></a></li>
						<li><a href="pages/contact"><p>Contact</p></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright-bar">
		<p>2016 All rights reserved. Dengpao Media Ltd. 灯泡媒体</p>
		<p style="color:grey;">Icons made by <a href="http://www.flaticon.com/authors/freepik" target="_blank;">Freepik</a>, <a href="http://www.flaticon.com/authors/vectors-market" target="_blank;">Vector's Market</a> and <a href="http://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a> from www.flaticon.com</p>
	</div>

</footer>