<div class="section why">
	<div class="section-content">

		<div class="section-heading">
			<h5>Marketing in Chinese</h2>
			<h2>Why does it matter?</h2>
		</div>


		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "mike.png", class: "person-pic" %>
						<div class="person-text">
							<h6>John</h6>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<p>China is the world's second biggest consumer market, and growing. Yet the typical Chinese consumer still searches using Mandarin and consumes Mandarin-only content. Your products, apps, merchandise and media content are missing out on a hugely lucrative user-base by only being written in English.</p>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2">
				</div>				
				<div class="col-md-8 col-xs-8 quote-right">
					<p>Chinese tourists to the UK are increasing year on year, meaning more and more non-English speakers travelling, and they use Chinese search to f

					 --> means more and more non-English speakers who want to use Chinese search to find information/plan their trip etc in UK, rather than English. Get ahead of your competitors by having native-written Chinese website/info in Chinese.</p>					
				</div>
				<div class="col-md-2 col-xs-4">
			        <%= image_tag "mike.png", class: "person-pic" %>
					<div class="person-text">
						<h6>Alice</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid quote">
			<div class="row">
				<div class="col-md-2 col-xs-4">
					<div class="person-container">
				        <%= image_tag "mike.png", class: "person-pic" %>
						<div class="person-text">
							<h6>Reach a Chinese audience</h6>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-8 quote-left">
					<p>Operating or planning to launch in China? Western brands often find it harder to find their feet 
						don’t always do well in China’s market (data, case studies: airbnb vs xiaozhu, …). examples of foreign brands choosing stupid Chinese names.</p>
				</div>
				<div class="col-md-2">
				</div>				
			</div>
		</div>

	</div>
</div>