<div class="section services">

		<div class="section-heading">
			<h5>Our services</h5>
			<h2>How we can help</h2>
		</div>

	<div class="section-content">

		<div class="row rounded-box-en panel-1">	
			<div class="col-sm-4 title-panel">
				<h2>Online & digital media</h2>
			</div>
			<div class="col-sm-8 content-panel">
				<ul>
					<li><p>•  Web design & content</p></li>
					<li><p>•  App content</p></li>
					<li><p>•  Blog posts</p></li>
					<li><p>•  Video subtitles and scripts</p></li>
					<li><p>•  Social media posts and captions</p></li>
					<li><p>•  WeChat articles</p></li>
					<li><p>•  LinkedIn accounts & personal webpages</p></li>
					<li><p>•  Employment vacancy posts</p></li>
				</ul>
			</div>
		</div>

		<div class="row rounded-box-en panel-2">	
			<div class="col-sm-4 title-panel">
				<h2>Marketing & branding</h2>
			</div>
			<div class="col-sm-8 content-panel">
				<ul>
					<li><p>•  Marketing strategy</p></li>
					<li><p>•  Branding</p></li>
					<li><p>•  Brand naming</p></li>
					<li><p>•  Paid ad content</p></li>	
					<li><p>•  Business plans & pitchbooks</p></li>		
				</ul>
			</div>
		</div>		

		<div class="row rounded-box-en panel-3">	
			<div class="col-sm-4 title-panel">
				<h2>Physical print</h2>
			</div>
			<div class="col-sm-8 content-panel">
				<ul>
					<li><p>•  Product packaging</p></li>
					<li><p>•  Restaurant menus</p></li>
					<li><p>•  Business cards</p></li>
					<li><p>•  Shop signs</p></li>
					<li><p>•  Exhibition & event material</p></li>
					<li><p>•  Promotional catalogues</p></li>
					<li><p>•  Product handbooks</p></li>
					<li><p>•  Internal processes</p></li>
				</ul>
			</div>
		</div>		

	</div>
</div>