<div class="section features">

  	<div class="section-content">

  		<div class="section-heading">
  			<h1>WHY WORK WITH US?</h>
  		</div>

          <div class="row">
            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "icon-5.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>FLUENT IN BOTH LANGUAGES</h3>
                </div>
                <div class="list-text">
                  <p>We're native speakers of English and Mandarin. We’re big on making sure that the tone and style of your original copy doesn’t get lost in translation, so that your branding remains consistent across borders.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "icon-7.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>CUSTOMISED SERVICE</h3>
                </div>
                <div class="list-text">
                  <p>Unlike automated or outsourced translation services, we take the time to understand what your brand is all about. You’ll have direct communication with our team so that you're as close to the project as you like.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "icon-6.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>WE DO A GOOD JOB</h3>
                </div>
                <div class="list-text">
                  <p>No stupid translations, no accidental branding faux pas, no sloppy mistakes. We use contemporary Mandarin that is personable and friendly, so you'll be communicating in just the same way as new-age, domestic brands do.</p>
                </div>
              </div>
            </div>
          </div><!-- list -->
  	</div><!-- section-content -->

</div>


