<div class="section features">

  	<div class="section-content">

  		<div class="section-heading">
        <h5>Why us?</h5>
  			<h2>How we work</h2>
  		</div>

          <div class="row">
            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "icons/man.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Cultural fluency</h3>
                </div>
                <div class="list-text">
                  <p>Fluent in English and Mandarin, we appreciate the cultural nuances that colour both languages. We’re big on making sure that the tone and style of your original copy doesn’t get lost in translation, so that your branding remains consistent across borders.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "icons/vm-custom.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Personalised service</h3>
                </div>
                <div class="list-text">
                  <p>Every business is different. Unlike automated or outsourced translation services, we first take the time to understand what your brand is all about. You’ll have direct communication with our team so that you're as close to the project as you like.</p>
                </div>
              </div>
            </div>

            <div class="list-item col-sm-4">
              <div class="list-image-wrapper">
                <%= image_tag "icons/chat-1.png" %>
              </div>
              <div class="list-text-wrapper">
                <div class="list-title">
                	<h3>Customer focused</h3>
                </div>
                <div class="list-text">
                  <p>The way that Chinese brands talk to customers is changing. We use Mandarin that is personable, friendly and modern, so you'll be communicating in just the same way that these high-flying domestic brands do.</p>
                </div>
              </div>
            </div>
          </div><!-- list -->
  	</div><!-- section-content -->

</div>


