<div class="section get-started">
	<div class="section-content">

		<h1>GET IN TOUCH</h1>

		<h3>We're always excited to partner with forward-thinking brands looking to gain more exposure to China. Let us know how we can help!</h3>

		<div id="cta-holder-en">
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#en-cta-2">
			  Contact us
			</button>

			<!-- Modal -->
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="en-cta-2">
			  <div class="modal-dialog modal-sm" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Drop us an email at <strong>hello@dengpao.co</strong> or scan the QR code to chat with us directly on WeChat</h4>
			      </div>
			      <div class="modal-body">
			        <%= image_tag "qr.jpg" %>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
	</div>

	<%= render 'en_footer' %>

</div>