<div class="section email-capture">
	<div class="section-content">

		<h1>Get in touch</h1>

		<div class="email-capture-text-box">
			<p style="margin-bottom:5%;">Have a project you're working on? Let us know how we can help, even if it's just a bit of advice you're after :)</p>

				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm-2">
				  Contact us
				</button>

				<!-- Modal -->
				<div class="modal fade bs-example-modal-sm-2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				  <div class="modal-dialog modal-sm" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Thanks for your interest. </h4>
				      </div>
				      <div class="modal-body">
				      	You can get in touch with us by email at xyz@dengpao.com. We'll get back to you as soon as we can!
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
				      </div>
				    </div>
				  </div>
				</div>

		</div>
	</div>

	<%= render 'en_footer' %>

</div>