<div class="section get-started">
	<div class="section-content">

		<h1>SO WHAT TO DO?</h1>		

		<h3>Launching a Chinese version of your website is the best place to start. That way, Chinese visitors can find you online and understand what you offer.</h3>

		<div id="cta-holder-en">
			
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#en-cta">
			  We can help with that
			</button>

			<!-- Modal -->
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="en-cta">
			  <div class="modal-dialog modal-sm" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Scan the QR code to get in touch with us directly via WeChat</h4>
			      </div>
			      <div class="modal-body">
			        <%= image_tag "qr.jpg" %>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Ok!</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	

	</div>
</div>