<div class="section why" id="why">
	<div class="section-content">

		<div class="section-heading">
			<h5>You may not have realised but</h2>
			<h2>YOU'RE LEAVING OPPORTUNITY ON THE TABLE</h2>		
		</div>

		<div class="reasons-container">

			<div class="container-fluid reason-wrapper hvr-grow">
				<div class="row">
					<div class="col-md-2 col-xs-4">
				        <%= image_tag "emoji-bag.png", class: "emoji-1" %>
					</div>
					<div class="col-md-8 col-xs-8 reason-text">
						<h3>1. Chinese shoppers want your products</h3>
						<p>But they can’t find you online because they search in Mandarin and read Mandarin-only content.</p>
					</div>
					<div class="col-md-2">
					</div>				
				</div>
			</div>

			<div class="container-fluid reason-wrapper hvr-grow">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8 col-xs-8 reason-text">
						<h3>2. Chinese tourists are coming to your cities</h3>
						<p>But they're from all rungs of society and don't necessarily speak English.</p>	
					</div>
					<div class="col-md-2 col-xs-4">
				        <%= image_tag "emoji-plane2.png", class: "emoji-2" %>
					</div>			
				</div>
			</div>		

			<div class="container-fluid reason-wrapper hvr-grow">
				<div class="row">
					<div class="col-md-2 col-xs-4">
				        <%= image_tag "emoji-run.png", class: "emoji-3" %>
					</div>
					<div class="col-md-8 col-xs-8 reason-text">
						<h3>3. Your competitors haven’t moved yet</h3>
						<p>They aren't catering for Chinese business either, so first mover advantage is there for the taking.</p>
					</div>
					<div class="col-md-2">
					</div>				
				</div>
			</div>
		</div>

	</div>
</div>